*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: url(home.avif);
    background-size: cover;
    background-position: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

h1{
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.btn{
    margin-left: 40px;
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
    transition: .3s;
}
.btn:hover{
    background: white;
    color: black;
}

nav a{
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
nav a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transform: scaleX(0);
    transition: transform .3s;
}

nav a:hover::before{
    transform: scaleX(1);
    width: 100%;
}


    